.jumbotron {
    background-image: url("../img/burgerpic.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000000;
    color: #ffffff;
    margin-top: 3%;
  }
  #newburger1 {
    color: #5c5c5c;
  }
  #leftside {
    background-color: #5c5c5c;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #rightside {
    background-color: #e49322;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }